<div id="header">
  <img src="/images/header.png" width="1022" height="200" alt=""/>
  <div id="primary-menu-holder">
    <a href="{{ path('homepage') }}" id="link-to-home">Wipi</a>
    <ul id="primary-menu">
      <li><a href="#" onclick="return false;">{{ 'Themes' | trans }}</a></li>
      <li><a href="#" onclick="return false;">{{ 'My Environment' | trans }}</a>
        <ul>
          <li><a href="#" onclick="return false;">{{ 'Favourites' | trans }}</a></li>
          <li><a href="#" onclick="return false;">{{ 'In progress' | trans }}</a></li>
          <li><a href="#" onclick="return false;">{{ 'Finished' | trans }}</a></li>
          <li><a href="#" onclick="return false;">{{ 'Create theme' | trans }}</a></li>
        </ul>
      </li>
      <li><a href="#" onclick="return false;">{{ 'Network' | trans }}</a></li>
    </ul>
  </div>
</div>