<div id="header">
  <img src="/images/header.png" width="1022" height="200" alt=""/>

  <div id="primary-menu-holder">
    <a href="{{ path('homepage') }}" id="link-to-home">Wipi</a>

    <div id="user-menu-container">
      {% if is_granted('ROLE_USER') %}
        {% include "SiteUserBundle:Components:menu_logged_in.html.twig" %}
      {% else %}
        {% include "SiteUserBundle:Components:menu_anonymous.html.twig" %}
      {% endif %}
    </div>
    <ul id="primary-menu">
      <li>
        <a href="{{ path('themes.index') }}">{{ 'themes.main' | trans({}, 'headmenu') }}</a>
        <ul>
          <li><a href="{{ path('theme.new') }}">{{ 'themes.create.theme' | trans({}, 'headmenu') }}</a></li>
          <li><a href="#">{{ 'themes.create.word' | trans({}, 'headmenu') }}</a></li>
        </ul>
      </li>
      <li><a href="#" onclick="return false;">{{ 'My Environment' | trans({}, 'headmenu') }}</a>
        <ul>
          <li><a href="#" onclick="return false;">{{ 'Favourites' | trans({}, 'headmenu') }}</a></li>
          <li><a href="#" onclick="return false;">{{ 'In progress' | trans({}, 'headmenu') }}</a></li>
          <li><a href="#" onclick="return false;">{{ 'Finished' | trans({}, 'headmenu') }}</a></li>
        </ul>
      </li>
      <li><a href="#" onclick="return false;">{{ 'Network' | trans({}, 'headmenu') }}</a></li>
    </ul>
  </div>
</div>