{% extends "::base.html.twig" %}

{% block body %}
  <h2>{{ theme.name }}</h2>
  <ul id="theme-words">
    {% for word in words %}
      <li><a href="{{ path('word.edit', { slug: word.slug }) }}">{{ word.source }} -> {{ word.target }}</a></li>
      {% endfor %}
    <li><a href="{{ path('word.new', { slug: theme.slug }) }}">{{ new_word | word_thumbnail }}</a></li>
  </ul>
{% endblock body %}