{% extends "SiteBaseBundle:Word:word_base.html.twig" %}

{% block dialog_form_class %}word-form word-form-step{{ form.vars.step }}{% endblock dialog_form_class %}


{% block dialog_header %}{{ 'word.new' | trans({
'%theme%': theme,
'%source%' : theme.sourceCulture,
'%target%' : theme.targetCulture }, 'word_forms') }}{% endblock dialog_header %}

{% block dialog_body %}
  {% block form_rows %}
    <div class="word-source-container">

      <div class="control-group">
        {{ form_label(form.source) }}
        <div class="controls has-extra">
          {{ form_widget(form.source) }}
          <a class="btn btn-primary has-tooltip tooltip-at-bottom finds-translation" onclick="return false;"
             data-loading-text="..."
             href="{{ path('word.find_translation', { slug: theme.slug }) }}"
             title="{{ 'word.findtranslation' | trans({}, 'word_forms') }}">
            <i class="icon-search icon-white"></i>
          </a>
          {{ form_errors(form.source) }}
        </div>
      </div>
      <div class="translations-target"></div>
    </div>

    <div class="word-target-container">{{ form_row(form.target) }}</div>
  {% endblock form_rows %}
  {{ form_rest(form) }}
{% endblock dialog_body %}


{% block javascripts %}
  {{ parent() }}
  <script type="text/javascript" src="{{ asset('bundles/sitebase/js/word-form-step1.js') }}"></script>
{% endblock javascripts %}

