{% extends "::base.html.twig" %}

{% block body %}
  <table class="table">
    <thead>
    <tr>
      <th>Variable</th>
      <th>Value</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th>Source</th>
      <td>{{ word.source }}</td>
    </tr>
    <tr>
      <th>Target</th>
      <td>{{ word.target }}</td>
    </tr>
    <tr>
      <th>Sound</th>
      <td><audio controls="true" src="{{ path('sound.autosuggested', { culture: word.theme.targetCulture, word: word.target }) }}"></audio></td>
    </tr>
    <tr>
      <th>Image</th>
      <td>{{ word | word_thumbnail('word_edit_source') }}</td>
    </tr>
    </tbody>
  </table>

  {% if word.user.equals(app.user) %}
    <a href="{{ path('word.delete', {slug: word.slug}) }}" class="btn btn-danger">Delete</a>
    <a href="{{ path('word.edit', {slug: word.slug}) }}" class="btn btn-warning">Edit</a>
  {% endif %}
{% endblock body %}